
  <footer>
        <h2>Ingenieria del Software 3</h2>
        <p>Marco Ortigoza Colman - Desarrollador del proyecto </p> 
        <a href="https://gitlab.com/marcoortigoza1912/ug-0507-motor-plantillas">Repositorio de gitlab</a>
        <p>Grupo FSOCIETY - Todos los derechos reservados &copy; 2024</p>
  </footer>   
