    <!--<nav class="navbar">
      <ul>
        <li><a href="../../index.html">Inicio</a></li>
        <li><a href="../Y17825/">Alexis</a></li>
        <li><a href="../Y12858/">Elvio</a></li>
        <li><a href="../Y23865/">Gabriel</a></li>
        <li><a href="../Y26426/">Lennys</a></li>
        <li><a href="../UG0507/">Marco</a></li>
        <li><a href="/paginas/curso.html">Curso</a></li>
        <li><a href="/paginas/word_cloud.html">WordCloud</a></li>
      </ul>
    </nav>-->
    <nav class="navbar">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/Y17825/">Alexis</a></li>
        <li><a href="/Y26426/">Lennys</a></li>
        <li><a href="/Y23865/">Gabriel</a></li>
        <li><a href="/Y12858/">Elvio</a></li>
        <li><a href="/UG0507/">Marco</a></li>
        <li><a href="/paginas/curso.html">Curso</a></li>
        <li><a href="/paginas/word_cloud.html">Word Cloud</a></li>
        
    </ul>
</nav>

    
  