<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{home.nombre}}</title>
    <link rel="stylesheet" href="/assets/css/index_inicio.css">
</head>
<body>
    <header>
        <h1>{{home.titulo}} {{home.nombre}}</h1>
    </header>
    {{> nav}}
    <div>
        <img src="{{home.src}}" alt="{{home.alt}}" class="logo">
    </div>
    {{> footer}}
</body>
</html>
