<!DOCTYPE html>
<html lang="es">

<head>
    <title>Integrante</title>
    <link rel="stylesheet" href="/assets/css/style.css"> 
</head>

<body>
    <div class="container-navbar">
        {{> nav}}
    </div>
    <div class="container">
        <header>
            <h1>{{integrante.nombre}} {{integrante.apellido}}</h1>
            <p>Matrícula:{{integrante.matricula}}</p>
        </header>

        
        <section>
            {{#each media}}
            <h2>{{titulo}}</h2> 
            {{#if url}}
            <iframe class="video-youtube" width="660" height="655" src="{{ url }}" frameborder="0" allowfullscreen></iframe>
            
            {{else}}
                <img src="{{src}}" alt="{{alt}}">
            {{/if}}
            {{/each}}
        </section>
       
    </div>
    
    <footer class="">
        {{> footer}}
    </footer>
</body>

</html>
