body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.container-navbar {
    width: 100%;
    display: flex;
    background-color: #ffffff;
    transition: background-color 0.5s;
    justify-content: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 12px 0;
}
.navbar ul li {
    display: inline;
}
.navbar ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #2a639e;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.navbar ul li a:hover {
    background-color: #2a639e;
    color: white;
    transition: background-color 0.7s, color 0.7s;
    border-radius: 12px;
}
.container section {
    margin-bottom: 20px;
    /*corregir centrar section integrante*/
    width: 80%; /* Establece el ancho del section */
    margin: 0 auto; /* Establece los márgenes automáticos para centrarlo horizontalmente */
    text-align: center; /* Opcional: centra el contenido dentro del section */
}

.container h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
.container p{
    text-align: center;
}
.container h2 {
    color: #666;
    font-size: 18px;
    margin-bottom: 5px;
    
}
/*Centrar Ingenieria del sofware 3*/
.containeringe h1 {
    text-align: center;
}
.container section img {
    display: block;
    max-width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* Estilos del contenedor de información personal */
.personal-info {
    background-color: #f0f0f0; /* Fondo gris claro */
    color: #333; /* Color del texto oscuro */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos del encabezado */
.personal-info header {
    margin-bottom: 20px; /* Espacio entre el encabezado y las secciones */
}

/* Estilos del título del encabezado */
.personal-info header h1 {
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
    color: #1a237e; /* Color azul oscuro */
}

/* Estilos del párrafo del encabezado */
.personal-info header p {
    margin: 10px 0;
}

/* Estilos de las secciones */
.personal-info section {
    margin-bottom: 20px; /* Espacio entre secciones */
    text-align: center; /* Centrar contenido dentro de las secciones */
}

/* Estilos de los títulos de sección */
.personal-info section h2 {
    font-size: 24px;
    margin-top: 0;
    color: #1a237e; /* Color azul oscuro */
}

/* Estilos de las imágenes */
.personal-info section img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilos del párrafo dentro de las secciones */
.personal-info section p {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: #666; /* Color de texto gris */
}
/* Estilos del encabezado */
.personal-info header {
    text-align: center; /* Centrar el contenido */
    margin-bottom: 20px; /* Espacio entre el encabezado y las secciones */
}

/* Estilos del título del encabezado */
.personal-info header h1 {
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
    color: #1a237e; /* Color azul oscuro */
}

/* Estilos del párrafo del encabezado */
.personal-info header p {
    margin: 10px 0;
    text-align: center; /* Centrar el texto */
}
/* Estilo para el contenedor personal-info-len */
.personal-info-len {
    margin: 20px auto; /* Centrar el contenedor horizontalmente */
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 800px; /* Limitar el ancho del contenedor */
}
  /* Estilo para el encabezado */
.personal-info-len header {
    margin-bottom: 20px;
    text-align: center; /* Centrar el texto */
}

/* Estilo para el nombre */
.personal-info-len header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

/* Estilo para la matrícula */
.personal-info-len header p {
    font-size: 16px;
    color: #666;
}
  /* Estilo para los encabezados de las secciones */
.personal-info-len section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

  /* Estilo para los iframes */
.personal-info-len iframe {
    display: block;
    margin: 0 auto 20px; /* Centrar el video horizontalmente */
}
  /* Estilo para las imágenes */
.personal-info-len img {
    display: block;
    margin: 0 auto 20px; /* Centrar la imagen horizontalmente */
}

.section-style {
    margin: 20px auto;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-style h2 {
    margin-top: 0;
}

/* Estilos para la imagen de Messi Pou */
.section-style img.messi-pou {
    max-width: 60%; /* Reduzco el tamaño máximo de la imagen al 60% */
    display: block; /* Hago que la imagen sea un bloque */
    margin: 0 auto 20px; /* La centro horizontalmente y añado margen inferior */
}
/* Estilos para el video de YouTube */
.section-style iframe {
    display: block; /* Hacer que el video sea un bloque */
    margin: 0 auto 20px; /* Centrar horizontalmente y añadir margen inferior */
}

/* Estilos para la imagen "paint_garcete" */
.section-style img.paint-garcete {
    display: block; /* Hacer que la imagen sea un bloque */
    margin: 0 auto; /* Centrar horizontalmente */
    max-width: 100%; /* Asegurar que la imagen no exceda el ancho máximo de su contenedor */
}
/*Estilo para el contenedor .personal-info-Marco*/
.personal-info-Marco {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
/*Estilo para el encabezado H1 y p*/
.personal-info-Marco header {
    text-align: center;
    margin-bottom: 20px;
}
/*Estlo para h1*/
.personal-info-Marco header h1 {
    font-size: 28px;
    margin-bottom: 15px;
}
/*Estilo para p*/
.personal-info-Marco header p {
    font-size: 16px;
    color: #474747;
}
/*Estilo para secciones*/
.personal-info-Marco section {
    margin-bottom: 80px;
    border: 0px solid #ccc;
    box-shadow: 0 0 5px rgb(75, 75, 75);

    background-color: #EDEDEE; /* color section */
    padding: 15px;
    
}
/*Estilo para h2*/ 
.personal-info-Marco section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
/*****************************/

/*Estilo para el video de YT*/
.personal-info-Marco iframe {
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(34, 34, 34);
}
/* Estilos para las imágenes */
.personal-info-Marco img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(34, 34, 34);
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0; /* Incrementar el espacio de relleno */
    width: 100%;
    margin-top: 20px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra */
}

footer p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}
footer a{
    
    border-radius: 20%;
    color: #000;
    font-weight: bold; /* Negrita */
    text-decoration: none; /*quitar subrayado*/
}

